<html>
<head>
    <title>Hi Vue</title>
</head>
<body>
<div id="app">
  <template v-if="!message">
    <h1>여러개의 엘리먼트에서 한번에 토글해야 하는 경우 template 엘리먼트를 사용함.</h1>
    <p>div 또는 span 을 사용하는 것이 적절하지 않은 경우에도</p>
    <p>template 을 보이지 않는 래퍼로 사용할 수 있음.</p>
    <p>template 은 최종 결과에 렌더링되지 않음.</p>
  </template>
  <textarea v-model="message"></textarea>
    <br>
    <button v-show="message">
        v-show 를 v-if 로 바꿔도 똑같이 잘 작동함.
    </button>
    <pre>{{ $data }}</pre>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
             message: 'Merry Christmas^_____^!!!'
        }
    })
</script>
</html>
