<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>The Gotham Gazette</title>
</head>
<body>
    <div class="container">
      <h1>Lodash 자바스크립트 유틸리티 라이브러리를 사용한 정렬/필터/색인 예제.</h1>
      <h2>계산된 프로퍼티에서 _.orderBy() 를 사용한 예제.</h2>
      <ul class="list-group">
          <li v-for="story in orderedStories" class="list-group-item">
            {{ story.writer }} said "{{ story.plot }}"
            and upvoted {{ story.upvotes }} times.
          </li>
      </ul>
      <h2>계산된 프로퍼티를 사용하지 않고 _.orderBy() 를 사용한 예제.</h2>
      <ul class="list-group">
        <li v-for="story in _.orderBy(stories, ['upvotes'], [order])" class="list-group-item">
          {{ story.writer }} said "{{ story.plot }}"
          and upvoted {{ story.upvotes }} times.
        </li>
      </ul>
      <button class="btn btn-default" v-on:click="reverseOrder">Reverse Order</button>

      <pre>
        {{ $data }}
      </pre>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script type="text/javascript">
new Vue({
    el: '.container',
    data: {
      stories: [
      {
        plot: "I crashed my car today!",
        writer: "Alex",
        upvotes: 28
      },
      {
        plot: "Yesterday, someone stole my bag!",
        writer: "John",
        upvotes: 8
      },
      {
        plot: "Someone ate my chocolate...",
        writer: "John",
        upvotes: 51
      },
      {
        plot: "I ate someone's chocolate!",
        writer: "Alex",
        upvotes: 74
      },
      ],
      order : 'desc'
    },
    methods: {
      reverseOrder: function () {
        this.order = (this.order === 'desc') ? 'asc' : 'desc'
      }
    },
    computed: {
      orderedStories: function () {
        var order = this.order
        return _.orderBy(this.stories, 'upvotes', [order])
      }
    }
})
</script>
</html>
